.password-header {
  color: rgb(103, 103, 103);
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
}

.label {
  color: rgb(103, 103, 103);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
}

.input {
  width: 30%;
  min-width: 20rem;
  margin: 0 auto;
}

.button {
  margin-top: 1rem;
}

@media screen and (max-width: 700px) {
  .password-header {
    font-size: 1.5rem;
  }

  .label {
    font-size: 1rem;
  }
}

.reset-password-success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.success-icon {
  color: #4CAF50;
  /* Green color for success */
  font-size: 50px;
  margin-bottom: 20px;
}

h2 {
  color: #333;
}

p {
  color: #555;
  margin-bottom: 30px;
}

.login-button {
  background-color: #06a093;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #047168;
  /* Darker green on hover */
}